* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
}

body {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex: 1;
    flex-direction: column;
}

header {
    text-align: center;
    font-size: 26px;
    margin: 10px 0;
    border-bottom: 2px solid rgb(239, 213, 16);
}

.tips {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.tips h2 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.flex-box {
    display: flex;
}

.player-options,
.enemy-options {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-options img,
.enemy-options img {
    max-width: 200px;
    cursor: pointer;
    opacity: 0.3;
}

.resultado {
    margin-top: 10px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}


/* MOBILE */

@media screen and (max-width: 913px) {
    header {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .tips h2 {
        font-size: 20px;
    }
    .player-options img,
    .enemy-options img {
        max-width: 120px;
        margin: 10px 0 25px 0;
    }
    .resultado {
        font-size: 28px;
    }
}